<section data-ng-controller="BoardController as controller" ng-init="onInit()">

    <div id="content">
        <div class="col-sm-10">
            <div id="content-header">
                <div class="row">
                    <div class="col-xs-6 col-sm-4"><h3>Cool</h3></div>
                    <div class="col-xs-6 col-sm-4"><h3>Uncool</h3></div>
                    <div class="col-xs-6 col-sm-4"><h3>SubZero</h3></div>
                </div>
            </div>
            <div class="row">

            <div class="col-xs-6 col-sm-4" data-drop="true" ng-model="global.ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropCallback(0,0)' }">
                <div class="dropArea">
                    <h4 class="text-success">Proven</h4>

                    <div ng-show="global.user.is_admin">
                        <div style="border-bottom: none" editable-text="idea.title" onaftersave="updateIdeaTitle(idea)" ng-repeat="idea in global.ideas | filter:{board_column:0, board_row:0}"
                             id="{{idea.title}}" ng-model="global.ideas" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}, onStart : 'controller.dragStartCallback(idea)'}">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                    <div ng-hide="global.user.is_admin">
                        <div ng-repeat="idea in global.ideas | filter:{board_column:0, board_row:0}" ng-model="global.ideas">
                            <h5>{{idea.title}}</h5>
                        </div>

                    </div>
                </div>
            </div>
             <div class="col-xs-6 col-sm-4" data-drop="true" ng-model="global.ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropCallback(1,0)'}">
                <div class="dropArea">
                    <h4 class="text-success">Proven</h4>

                    <div ng-show="global.user.is_admin">
                        <div style="border-bottom: none" editable-text="idea.title" onaftersave="updateIdeaTitle(idea)" ng-repeat="idea in ideas | filter:{board_column:1, board_row:0}"
                             id="{{idea.title}}" ng-model="ideas" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}, onStart : 'controller.dragStartCallback(idea)'}">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                    <div ng-hide="global.user.is_admin">
                        <div ng-repeat="idea in ideas | filter:{board_column:1, board_row:0}" ng-model="ideas">
                            <h5>{{idea.title}}</h5>
                        </div>

                    </div>
                </div>
            </div>
          <div class="col-xs-6 col-sm-4" data-drop="true" ng-model="global.ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropCallback(2,0)'}">
                <div class="dropArea">
                    <h4 class="text-success">Proven</h4>

                    <div ng-show="global.user.is_admin">
                        <div style="border-bottom: none" editable-text="idea.title" onaftersave="updateIdeaTitle(idea)" ng-repeat="idea in global.ideas | filter:{board_column:2, board_row:0}"
                             id="{{idea.title}}" ng-model="global.ideas" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}, onStart : 'controller.dragStartCallback(idea)'}">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                    <div ng-hide="global.user.is_admin">
                        <div ng-repeat="idea in global.ideas | filter:{board_column:2, board_row:0}" ng-model="global.ideas">
                            <h5>{{idea.title}}</h5>
                        </div>

                    </div>
                </div>
            </div>
             <div class="col-xs-6 col-sm-4" data-drop="true" ng-model="global.ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropCallback(0,1)'}">
                <div class="dropArea">
                    <h4 class="text-success">Something in Between</h4>

                    <div ng-show="global.user.is_admin">
                        <div style="border-bottom: none" editable-text="idea.title" onaftersave="updateIdeaTitle(idea)" ng-repeat="idea in global.ideas | filter:{board_column:0, board_row:1}"
                             id="{{idea.title}}" ng-model="global.ideas" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}, onStart : 'controller.dragStartCallback(idea)'}">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                    <div ng-hide="global.user.is_admin">
                        <div ng-repeat="idea in global.ideas | filter:{board_column:0, board_row:1}" ng-model="global.ideas">
                            <h5>{{idea.title}}</h5>
                        </div>

                    </div>
                </div>
            </div>
             <div class="col-xs-6 col-sm-4" data-drop="true" ng-model="global.ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropCallback(1,1)'}">
                <div class="dropArea">
                    <h4 class="text-success">Something in Between</h4>

                    <div ng-show="global.user.is_admin">
                        <div style="border-bottom: none" editable-text="idea.title" onaftersave="updateIdeaTitle(idea)" ng-repeat="idea in global.ideas | filter:{board_column:1, board_row:1}"
                             id="{{idea.title}}" ng-model="global.ideas" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}, onStart : 'controller.dragStartCallback(idea)'}">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                    <div ng-hide="global.user.is_admin">
                        <div ng-repeat="idea in global.ideas | filter:{board_column:1, board_row:1}" ng-model="global.ideas">
                            <h5>{{idea.title}}</h5>
                        </div>

                    </div>
                </div>
            </div>
             <div class="col-xs-6 col-sm-4" data-drop="true" ng-model="global.ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropCallback(2,1)'}">
                <div class="dropArea">
                    <h4 class="text-success">Something in Between</h4>

                    <div ng-show="global.user.is_admin">
                        <div style="border-bottom: none" editable-text="idea.title" onaftersave="updateIdeaTitle(idea)" ng-repeat="idea in global.ideas | filter:{board_column:2, board_row:1}"
                             id="{{idea.title}}" ng-model="global.ideas" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}, onStart : 'controller.dragStartCallback(idea)'}">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                    <div ng-hide="global.user.is_admin">
                        <div ng-repeat="idea in global.ideas | filter:{board_column:2, board_row:1}" ng-model="global.ideas">
                            <h5>{{idea.title}}</h5>
                        </div>

                    </div>
                </div>
            </div>
             <div class="col-xs-6 col-sm-4" data-drop="true" ng-model="global.ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropCallback(0,2)'}">
                <div class="dropArea">
                    <h4 class="text-success">Unproven</h4>

                    <div ng-show="global.user.is_admin">
                        <div style="border-bottom: none" editable-text="idea.title" onaftersave="updateIdeaTitle(idea)" ng-repeat="idea in global.ideas | filter:{board_column:0, board_row:2}"
                             id="{{idea.title}}" ng-model="global.ideas" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}, onStart : 'controller.dragStartCallback(idea)'}">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                    <div ng-hide="global.user.is_admin">
                        <div ng-repeat="idea in global.ideas | filter:{board_column:0, board_row:2}" ng-model="global.ideas">
                            <h5>{{idea.title}}</h5>
                        </div>

                    </div>
                </div>
            </div>
             <div class="col-xs-6 col-sm-4" data-drop="true" ng-model="global.ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropCallback(1,2)'}">
                <div class="dropArea">
                    <h4 class="text-success">Unproven</h4>

                    <div ng-show="global.user.is_admin">
                        <div style="border-bottom: none" editable-text="idea.title" onaftersave="updateIdeaTitle(idea)" ng-repeat="idea in global.ideas | filter:{board_column:1, board_row:2}"
                             id="{{idea.title}}" ng-model="global.ideas" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}, onStart : 'controller.dragStartCallback(idea)'}">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                    <div ng-hide="global.user.is_admin">
                        <div ng-repeat="idea in global.ideas | filter:{board_column:1, board_row:2}" ng-model="global.ideas">
                            <h5>{{idea.title}}</h5>
                        </div>

                    </div>
                </div>
            </div>
             <div class="col-xs-6 col-sm-4" data-drop="true" ng-model="global.ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropCallback(2,2)'}">
                <div class="dropArea">
                    <h4 class="text-success">Unproven</h4>

                    <div ng-show="global.user.is_admin">
                        <div style="border-bottom: none" editable-text="idea.title" onaftersave="updateIdeaTitle(idea)" ng-repeat="idea in global.ideas | filter:{board_column:2, board_row:2}"
                             id="{{idea.title}}" ng-model="global.ideas" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}, onStart : 'controller.dragStartCallback(idea)'}">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                    <div ng-hide="global.user.is_admin">
                        <div ng-repeat="idea in global.ideas | filter:{board_column:2, board_row:2}" ng-model="global.ideas">
                            <h5>{{idea.title}}</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2 trash" data-drop="true" ng-model="ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropTrashCallback()'}" >
            <img  src="img/icons/t.png" width="50px" height="50px" />
        </div>

    </div>
</section>
