<section data-ng-controller="BoardController">

    <div id="content">
        <div id="content-header">
            <div class="row">
                <div class="col-md-4"><h3>Cool</h3></div>
                <div class="col-md-4"><h3>Uncool</h3></div>
                <div class="col-md-4"><h3>SubZero</h3></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" data-drop="true" ng-model="cool.proven" jqyoui-droppable="{multiple: true}">
                <div class="dropArea">
                    <h4 class="text-success">Proven</h4>
                    <div class="col-md-12" editable-text="coolProven.name" ng-repeat="coolProven in cool.proven" id="{{coolProven.name}}" ng-model="cool.proven" data-drag="true"
                         data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}}">
                        <h5>{{coolProven.name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-drop="true" ng-model="uncool.proven" jqyoui-droppable="{multiple: true}">
                <div class="dropArea">
                    <h4 class="text-success">Proven</h4>
                    <div editable-text="uncoolProven.name" class="col-md-12" ng-repeat="uncoolProven in uncool.proven" id="{{uncoolProven.name}}" ng-model="uncool.proven" data-drag="true"
                         data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}}">
                        <h5>{{uncoolProven.name}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4" data-drop="true" ng-model="subZero.proven" jqyoui-droppable="{multiple: true}">
                <div class="dropArea">
                    <h4 class="text-success">Proven</h4>
                    <div editable-text="subZeroProven.name" class="col-md-12" ng-repeat="subZeroProven in subZero.proven" id="{{subZeroProven.name}}" ng-model="subZero.proven" data-drag="true"
                         data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index:{{$index}}}">
                        <h5>{{subZeroProven.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" data-drop="true" ng-model="cool.somethingInBetween" jqyoui-droppable="{multiple: true}">
                <div class="dropArea">
                    <h4 class="text-info">Something in Between</h4>
                    <div class="col-md-12" editable-text="coolMiddle.name" ng-repeat="coolMiddle in cool.somethingInBetween" id="{{coolMiddle.name}}" ng-model="cool.somethingInBetween"
                         data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                         jqyoui-draggable="{index:{{$index}}}">
                        <h5>{{coolMiddle.name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-drop="true" ng-model="uncool.somethingInBetween" jqyoui-droppable="{multiple: true}">
                <h4 class="text-info">Something in Between</h4>
                <div class="dropArea">
                    <div editable-text="uncoolMiddle.name" ng-repeat="uncoolMiddle in uncool.somethingInBetween" class="col-md-12" id="{{uncoolMiddle.name}}" ng-model="uncool.somethingInBetween"
                         data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                         jqyoui-draggable="{index:{{$index}}}">
                        <h5> {{uncoolMiddle.name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-drop="true" ng-model="subZero.somethingInBetween" jqyoui-droppable="{multiple: true}">
                <div class="dropArea">
                    <h4 class="text-info">Something in Between</h4>
                    <div editable-text="subZeroMiddle.name" ng-repeat="subZeroMiddle in subZero.somethingInBetween" class="col-md-12" id="{{subZeroMiddle.name}}" ng-model="subZero.somethingInBetween"
                         data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                         jqyoui-draggable="{index:{{$index}}}">
                        <h5>{{subZeroMiddle.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" data-drop="true" ng-model="cool.unproven" jqyoui-droppable="{multiple: true}">
                <div class="dropArea">
                    <h4 class="text-danger">Unproven</h4>
                    <div editable-text="coolUnproven.name" ng-repeat="coolUnproven in cool.unproven" class="col-md-12" id="{{coolUnproven.name}}" ng-model="cool.unproven"
                         data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                         jqyoui-draggable="{index:{{$index}}}">
                        <h5>{{coolUnproven.name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-drop="true" ng-model="uncool.unproven" jqyoui-droppable="{multiple: true}">
                <div class="dropArea">
                    <h4 class="text-danger">Unproven</h4>
                    <div editable-text="uncoolUnproven.name" ng-repeat="uncoolUnproven in uncool.unproven" class="col-md-12" id="{{uncoolUnproven.name}}" ng-model="uncool.unproven"
                         data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                         jqyoui-draggable="{index:{{$index}}}">
                        <h5>{{uncoolUnproven.name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-drop="true" ng-model="subZero.unproven" jqyoui-droppable="{multiple: true}">
                <div class="dropArea">
                    <h4 class="text-danger">Unproven</h4>
                    <div editable-text="subZeroUnproven.name" ng-repeat="subZeroUnproven in subZero.unproven" class="col-md-12" id="{{subZeroUnproven.name}}" ng-model="subZero.unproven"
                         data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                         jqyoui-draggable="{index:{{$index}}}">
                        <h5>{{subZeroUnproven.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
