<div class="navbar navbar-top navbar" role="navigation" data-ng-controller="HeaderController">
  <ul id="cw-menu" class="cw-menu-main">
    <li class="cw-trigger"><a id="showLeftPush" class="cw-icon cw-icon-menu"><span>Menu</span></a></li>
    <li><a href="#/!">Cool Wall</a></li>
    <li>
      <ul class="nav navbar-nav navbar-right pull-right" data-ng-show="global.authenticated">
        <li class="dropdown">
          <div data-ng-show="global.authenticated">
            <a href="#" class="dropdown-toggle cw-dropdown-toggle" data-toggle="dropdown">
              {{global.user.name}} 
              <i class="fa fa-caret-down fa-2x dropdown-caret-down"></i>
            </a>
            <ul class="dropdown-menu cw-dropdown-menu">
              <li><a href="/signout" class="cw-dropdown-menu-anchor">Signout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
