<nav class="cw-spmenu cw-spmenu-vertical cw-spmenu-left" id="cw-spmenu-s1">
  <div class="cw-spmenu-entry-div">
    <h3>Ideas</h3>
    <span>
      <a href="" class="cw-spmenu-anchor-h3"><i class="fa fa-plus fa-2x"></i></a>
    </span>
  </div>
  <div>
    <a href="#">Idea 1</a>
  </div>
  <a href="#">Idea 2</a>
  <a href="#">Idea 3</a>
  <a href="#">Idea 4</a>
  <a href="#">Idea 5</a>
  <a href="#">Idea 6</a>
  <div class="cw-spmenu-entry-div">
    <h3>Tip of the day</h3>
    <span>
      <a href="" class="cw-spmenu-anchor-h3"><i class="fa fa-plus fa-2x"></i></a>
    </span>
  </div>
  <div>
    <p>check out grunt</p>
  </div>
  <div class="cw-spmenu-entry-div">
    <h3>Tell Me About</h3>
    <span>
      <a href="" class="cw-spmenu-anchor-h3"><i class="fa fa-plus fa-2x"></i></a>
    </span>
  </div>
</nav>