.navbar .nav > li > a.brand {
  padding-left: 20px;
  margin-left: 0;
}

.content {
  width: 100%;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #dddddd;
  -webkit-box-shadow: 0 8px 6px 6px black;
  -moz-box-shadow: 0 8px 6px 6px black;
  box-shadow: 0 8px 6px 6px black;
}

footer p {
  padding: 5px 0 12px 10px;
}

.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}

.warning {
  border-color: yellow;
}

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.dropArea {
  min-height: 120px;
}

.trash {
  top: 20px;
}

.editable-click, a.editable-click {
  border-bottom: 0px;
}

.idea-list-item {
  cursor: hand;
  padding: 5px 10px;
  border: 0;
}

.idea-list-item:active {
  border: 1px black dashed;
}

.panel-body {
  padding: 5px;
}

.inside-panel {
  padding: 5px 10px;
}

.list-group .panel-group .panel {
  overflow: visible;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #fff;
  color: #345472;
  border-color: #fff;
}

.navbar {
  position: relative;
  border: 0px;
  margin-bottom: 0px;
}

.dropdown-toggle {
  padding: 0 30px;
  font-size: 13px;
  font-weight: bold;
}

.dropdown-caret-down {
  padding: 0 0 0 5px;
  position: relative;
  top: 5px;
}

.cw-dropdown-menu {
  right: 0;
  position: relative;
  border-radius: 0px;
  border: 0px;
  width: 100% !important;
  min-width: 100% !important;
}

.cw-dropdown-menu-anchor {
  background: white;
  color: #345472;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0px;
  }
}
.cw-spmenu h5 {
  background: white;
  color: black;
  font-size: 13px;
  margin: 0;
  padding: 5px 0 5px 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bold;
  line-height: 30px;
}
