extends auth

block auth
           
   
    form.form-signin.form-horizontal(action="/users/session", method="post")
      if (typeof message !== 'undefined' && message != "")
        p.error= message
      .control-group
        h3.form-signin-heading Please sign in
      .control-group
        .input-group(style='width:100%')
          input.form-control(type='text', placeholder='Email address', name='email', required='required', autofocus='autofocus')
      .control-group
        .input-group(style='width:100%')
          input.form-control(type='password', placeholder='Password', name='password', required='required')
        
      .control-group(style='margin-top:1em')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
      .control-group
        a.show-signup(href="/signup") Sign up