<div class="testfield">
    <div class="flyout-wrap">
        <a class="flyout-btn" onclick="return false" title="Toggle"><span>Flyout Menu Toggle</span></a>
        <ul class="flyout fade">
            <li><a href="#" title="Delete"><span class="delete">Delete</span></a></li>
            <li><a href="#" title="Uncool"><span class="uncool">Uncool</span></a></li>
            <li><a href="#" title="Cool"><span class="cool">Cool</span></a></li>
            <li><a href="#" title="SubZero"><span class="subzero">SubZero</span></a></li>
            <li><a href="#" title="Edit"><span class="edit">Edit</span></a></li>
        </ul>
    </div>
</div>