<section data-ng-controller="BoardController as controller">
    <accordion close-others="oneAtATime">
        <accordion-group-plus id="wishlist" is-open="true" btn-link="home#!/articles/create">
            <accordion-heading-plus>
                <span>Ideas</span>
            </accordion-heading-plus>
            <div data-drop="true" ng-model="ideas" jqyoui-droppable="{multiple: true, onDrop : 'controller.dropCallback(99,99)'}">
                <div class="dropArea">
                    <div ng-show="global.user.is_admin">
                        <div class="idea-list-item" editable-text="idea.title" ng-repeat="idea in global.ideas | filter:{board_column:99, board_row:99}"
                             id="{{idea.title}}" ng-model="global.ideas" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}"
                             jqyoui-draggable="{index:{{$index}},  onStart : 'dragStartCallback(idea)'}">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                    <div ng-hide="global.user.is_admin">
                        <div ng-repeat="idea in global.ideas | filter:{board_column: 99, board_row: 99}" ng-model="global.ideas">
                            <h5>{{idea.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-group-plus>
        <accordion-group>
            <accordion-heading>
                <span>Tip of the day</span>
            </accordion-heading>
        </accordion-group>
        <accordion-group>
            <accordion-heading>
                <span>Tell me more</span>
            </accordion-heading>
        </accordion-group>
    </accordion>
</section>