<section data-ng-controller="ArticlesController" data-ng-init="find()">
  <accordion close-others="oneAtATime">
    <accordion-group-plus is-open="true" btn-link="home#!/articles/create">
      <accordion-heading-plus>
        <span >Ideas</span>
      </accordion-heading-plus>
      <ul class="articles unstyled">
        <li data-ng-repeat="article in articles">
          <h3><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h3>
        </li>
        <li data-ng-hide="!articles || articles.length">
          <h2>No article yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h2>
        </li>
      </ul>
    </accordion-group-plus>
    <accordion-group>
      <accordion-heading>
        <span >Tip of the day</span>
      </accordion-heading>
    </accordion-group>
    <accordion-group>
      <accordion-heading>
        <span >Tell me more</span>
      </accordion-heading>
    </accordion-group>
  </accordion>
</section>
